@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--yellow: #ffcc00;
	--red: #d40511;
}
.yellowDHL {
	background-color: var(--yellow);
	color: black;
}
.redDHL {
	background-color: var(--red);
	color: white;
}
